.btnopennn{
     /* width: 24px;
     height: 24px; */
     border:none;
     background-color: white;
}
.btnaddProductup{
     border: none; 
     background-color: white;
    
} 
.iconup{
     width: 25px;
     height: 25px;
}